<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<header>
    <h1>Ball-Man-Full Classifier</h1>
</header>

<body>
    <div class="main">    
        <img class="title" src="./static/ballmanfulltop.jpg">
        <h2> ボールを持った人が全身写っていればball-man-full<br>
            それ以外はotherと表示されます</h2>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
    </div>

    

</body>

<footer>
    <small>&copy; 2019 Aidemy, inc.</small>   
</footer>

</html>